// Color
@color-black: rgba(0, 0, 0, 0.52);
@color-blue: #53caa1;
@color-violet: #dd22c7;
@color-orange: #dd7322;
@color-grey: rgb(138, 138, 138);

// Padding

@delay-transition: 300ms;

.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.pd-tp-10 {
  padding: 10px 0px;
}

.layout {
  background-color: #fff;
  height: 90vh;
 
  .right-content {
    background-color: #fff;
  }
}

.btn-menu-circle {
  display: flex;
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 50%;
}

.intro-page {
  .text-grey {
    color: @color-grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .menu-header {
    display: none !important;
    background: #dd22c7;
  }
  .wrap-btn-more {
    display: flex !important;
  }
  .image-logo-hero {
    width: 400px !important;
  }
  .menu-header-home {
    display: none !important;
  }
  .logo-header {
    display: none !important;
  }
}

.wrap-btn-more {
  display: none; 
}

.menu-header-home {
  display: block;
}

.menu-header {
  display: flex;
}

.button-intro {
  color: #fff;
  background: linear-gradient(140deg, rgba(100,232,222,1) 0%, rgba(138,100,235,1) 57%);
  width: 150px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 500ms;
  text-align: center;
  padding: 8px;
  z-index: 10;
  &:hover {
    box-shadow: 0px 0px 10px grey;
    background: linear-gradient(140deg, rgba(123,242,233,1) 0%, rgba(182,94,186,1) 57%);
  }
}

.Default-header {
  padding: 10px;
  position: sticky;
  z-index: 20;
  top: 0;
  transition: all 500ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  .title-header {
    padding: 0px 5px;
    font-size: 30px;
    color: rgb(138, 138, 138);
    font-weight: 600;
  }
}

.home-content {
  padding: 10px;
  .site-card-wrapper {
    .card-info {
      &.violet-my {
        &:hover {
          box-shadow: 0px 0px 5px gray;
          color: @color-violet;
        }
      }
      &.orange-my {
        &:hover {
          box-shadow: 0px 0px 5px gray;
          color: @color-orange;
        }
      }
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0px 0px 2px grey;
      transition: all @delay-transition;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 5px gray;
        color: @color-blue;
      }
    }
  }
}

.list-menu-user {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .item-user {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    transition: all 200ms;
    &:hover {
      background-color: rgba(104, 218, 233, 0.349);
    }
  }
}



.forgot {
  cursor: pointer;
  &:hover {
    color: @color-blue;
  }
}

.row-info-number {
  margin: 20px 0px;
  height: 200px;
  background: rgb(66,230,149);
  background: linear-gradient(140deg, rgba(66,230,149,1) 0%, rgba(59,178,184,1) 57%);
  .style-info-number {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
}

.name-user {
  color: @color-grey;
  font-weight: 700;
  font-size: 15px;
  .mr-10;
  .ml-10;
}

.default-slider {
  box-shadow: 0px 0px 2px @color-grey;
}

.slider-title {
  padding: 17px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #808080;
}

.item-problem {
  height: 200px;
  justify-content: center;
  padding: 0px 20px;
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    background: linear-gradient(140deg, rgba(123,242,233,1) 0%, rgba(182,94,186,1) 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.background-loading {
  position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    background: rgb(230, 230, 230);
    align-items: center;
    justify-content: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-cloumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-cloumn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-bag {
  opacity: 0.7;
  cursor: pointer;
  transition: all @delay-transition;
  &:hover {
    opacity: 1;
  }
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(119, 119, 119);
    border-radius: 5px;
  }
}
.scroll-bar-hide {
  &::-webkit-scrollbar {
    width: 0px;
    border-radius: 5px;
  }
}

.main-introduce {
  opacity: 0;
  transition: all 2s;
  display: none;
}

.wrapper-all {
  height: 100vh;
  overflow: hidden;
  overflow: auto;
}

.fade-in {
  position: relative;
  animation: keyframe1 2s ;
}

.fade-in-right {
  position: relative;
  animation: keyframe2 2s;
}

@keyframes keyframe1 {
  from {left: -500px;}
  to {left: 0px;}
}
@keyframes keyframe2 {
  from {right: -500px;}
  to {right: 0px;}
}